extends ./search_form.jade

block title
	title EzySwap

append scripts
	link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Alegreya+Sans')
	
block styles
	link(rel='stylesheet' type='text/css' href='/stylesheets/home.css')
	
block intro
	#title.box
	h1 Finding the Perfect Schedule shouldn't be difficult..
	