extends ./search_form.jade

block title
	title Search Results
	
block intro
	h1 Search Results
	
block end
	p.
		Run algorithm search for Section #{data.params.split(',')[1]},
		#{data.subjects[data.params.split(',')[0]]}
	